In [1]:
import pandas as pd
import numpy as np
from models.gan import GAN

In [7]:
df_pokemon= pd.read_csv("data/Pokemon.csv")
df_pokemon = df_pokemon.drop(columns=['Name', 'Total'], axis=1)
df_pokemon['Type 2'] = df_pokemon['Type 2'].fillna('None')
df_pokemon = pd.get_dummies(df_pokemon, columns=['Type 1', 'Type 2', 'Generation'])
bool_cols = df_pokemon.select_dtypes(include=['bool']).columns
df_pokemon[bool_cols] = df_pokemon[bool_cols].astype(int)
df_pokemon.head()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Type 1_Bug,Type 1_Dark,...,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water,Generation_1,Generation_2,Generation_3,Generation_4,Generation_5,Generation_6
0,1,45,49,49,65,65,45,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2,60,62,63,80,80,60,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,80,82,83,100,100,80,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,80,100,123,122,120,80,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,4,39,52,43,60,50,65,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [9]:
noise = np.random.normal(0, 1, df_pokemon.shape) 
gan = GAN(data=df_pokemon, noise=noise, epochs=2)
generator = gan.create_generator()
discriminator = gan.create_discriminator()
gan_model = gan.compile(generator=generator, discriminator=discriminator)
trained_gan = gan.train(generator=generator,discriminator=discriminator, gan=gan_model)

25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 664us/step

c:\Users\l.huber2\Documents\FH\2. Semester\GAI\Pokemon\venv\lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

X
[[ 1.00000000e+00  4.50000000e+01  4.90000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 2.00000000e+00  6.00000000e+01  6.20000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 3.00000000e+00  8.00000000e+01  8.20000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 ...
 [ 5.02038419e-01 -7.37567768e-02 -1.69121608e-01 ... -2.12583497e-01
   7.30547905e-02 -1.00310080e-01]
 [ 7.74720788e-01  1.90555155e-01 -6.42249882e-01 ... -5.86622179e-01
   4.03528243e-01 -6.58051550e-01]
 [ 8.21538985e-01  3.37110639e-01  2.42691711e-01 ... -5.74405611e-01
   4.11909789e-01 -2.90568501e-01]]
labels
[[1.]
 [1.]
 [1.]
 ...
 [0.]
 [0.]
 [0.]]
>1, d1=0.816, d2=0.716
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step
X
[[ 1.00000000e+00  4.50000000e+01  4.90000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 2.00000000e+00  6.00000000e+01  6.20000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 3.00000000e+00  8.00000000e+01  8.20000000e+01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 ...
 [ 5.12290716e-01 -6.07819520e-02 -1.77029848e-01 ... -2.01962605e-01
   8.42543989e-02 -1.11998275e-01]
 [ 7.83709705e-01  2.18666628e-01 -6.48525894e-01 ... -5.83252490e-01
   4.24606353e-01 -6.71619415e-01]
 [ 8.26569498e-01  3.49205047e-01  2.33917013e-01 ... -5.67879200e-01
   4.24982399e-01 -3.04429829e-01]]
labels
[[1.]
 [1.]
 [1.]
 ...
 [0.]
 [0.]
 [0.]]
WARNING:tensorflow:5 out of the last 5 calls to <function TensorFlowTrainer.make_train_function.<locals>.one_step_on_iterator at 0x0000011668EFE680> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
>2, d1=0.711, d2=0.703